/* CSS declarations go here */

.group:after {
  display: block;
  clear: both;
  content: '';
}

body {
  text-align: center;
}

ul {
  list-style: none;
}

#board {
  padding: 0 0 25px 0;
  display: block;
}

.status {
  text-align: center;
  margin: 25px;
  padding-right: 90px;
}

.users {
  float: left;
}

.open-challenge {
  padding: 15px 0 15px 0;
  border-top: 1px solid #000000;
  text-align: left;
}

.open-challenge:last-child {
  border-bottom: 1px solid #000000;
}

.own-challenge {
  color: #cccccc;
}

.game-control-buttons {
  padding: 0 0 25px 0;
}

.challenge-list {
  padding: 0 10px 25px 0;
}

.main {
  margin: 25px 0 0 0;
}

.remove-item {
  float: right;
  padding: 0 10px 0 0;
  cursor: pointer;
}

.remove-item:hover {
  color: #333333;
}

.game-control-button {
  width: 150px;
  margin: 15px 0 0 0;
}